<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @member.name %></h1>
    <p>
      Your friend <%= @existing_member.name %>, has created a profile for you on house-accounts.com<br/> To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>
      Alternatively just create a new user account at www.house-accounts.com, and click the "Join group" button and enter the code "<%= @member.member_token %>" to sign up to this group
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>