<h1>Forgotten Password</h1>
<div>
	<%= form_for(:user, :url => send_password_update_link_users_path) do |f| %> 
		<div class="field">
			<%= f.label :email %><br />
			<%= f.text_field :email %>
		</div>
		<div class="update_button">
			<%= f.submit "Send password reset" %> 
		</div>
		<% end %> 
</div>