<div id="edit_payment_form">
	<%= render 'form' %>
	<div class='button delete_button' id='edit_payment_delete_button'>
		<%= link_to 'Delete payment', member_payment_path(@member, @payment), :method => :delete %>
	</div>
</div>